.feedback-form {
  .form-inputs {
    input, textarea {
      font-size: 0.8rem;
      height: 2rem;
      margin: 0;
    }
    textarea {
      margin-bottom: 10px;
    }
  }
}

.form {
  padding-top: 10%;
}

.feedbacks {
  font-size: 0.8rem;
  .search input {
    height: 2rem;
    font-size: 0.8rem;
  }

  .pagination {
    a:hover {
      background: none;
    }
    .current {
      border-radius: 50px;
      padding: 0;
    }
  }
}

